header {
  position: relative;
  height: 400px;
  align-content: center;
}

.header-bg {
  background-color: rgb(170, 192, 252);
  background-image: url("/images/asfalt-light.png");
  background-image: url("/images/beach.png");
}

.fixed {
  position: relative;
  top: 120px;
  right: 0;
  left: 0;
  z-index: 999;
}
img {
  position: relative;
  top: 30px;
}
.center {
  text-align: center;
}
