header {
  align-content: center;
  height: 400px;
  position: relative;
}

.header-bg {
  background-image: url("/images/beach.png");
  background-position: center bottom;
  background-size: 120%;
}

.fixed {
  left: 0;
  position: relative;
  right: 0;
  top: 120px;
  z-index: 999;
}

.profile-pic {
  position: relative;
  top: 30px;
}

.center-img {
  text-align: center;
}
