nav {
  height: 120px;
  color: #ffffff;
  z-index: 1000;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: x-large;
}

span {
  font-family: "Bungee", cursive;
  font-size: xx-large;
}

.navbar {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}
.push-left {
  margin-left: auto;
}

.bg-color {
  background-color: #5f7bda;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
