nav {
  color: #ffffff;
  height: 120px;
  z-index: 1000;
}

a {
  color: #ffffff;
  font-size: x-large;
  text-decoration: none;
}

.bold-font {
  font-family: "Bungee", cursive;
  font-size: xx-large;
}

.navbar {
  align-items: center;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}
.push-right {
  margin-left: auto;
}

.bg-color {
  background-color: #5f7bda;
}

.fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
