nav {
  color: #ffffff;
  height: 120px;
  z-index: 100;
}

#nav-scroll {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background-color: transparent;
  border: none;
  color: #ffffff;
  outline: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

#nav-scroll:hover {
  color: #3b59bd;
}

.normal-font {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.bold-font {
  font-family: "Poppins", cursive;
  font-size: xx-large;
  font-weight: 900;
}

.lg-font {
  font-size: 40px;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.push-right {
  margin-left: auto;
}

.bg-color {
  background-color: #5f7bda;
}
