input {
  background-color: #5f7bda;
  color: #ffffff;
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

textarea {
  background-color: #f8f8f7;
  border-bottom-color: #545149;
  border-bottom-width: thick;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #545149;
  margin-top: 1em;
  outline: none;
  width: 100%;
  height: auto;
}

#error-message {
  align-items: center;
  border: thin solid #cc0000;
  border-radius: 10px;
  color: #cc0000;
  display: none;
  font-weight: 500;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: flex;
  text-align: center;
  z-index: 100;
}

.btn-size {
  font-size: 0.85em;
}

.center {
  align-content: center;
  padding-top: 10px;
}

.highlight-red {
  color: #ff0000;
}
