article {
  border: thick solid #545149;
  margin-bottom: 0.5em;
  position: relative;
  top: 50px;
}

article:hover {
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
  font-weight: bolder;
}

.show-on-hover {
  display: none;
}

article:hover .show-on-hover {
  color: rgba(0, 0, 255, 0.2);
  display: block;
}

.tweet-header {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.tweet-body {
  border-bottom: thick solid #545149;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: auto;
  outline: none;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  text-align: left;
  width: 97%;
  word-wrap: break-word;
}

.tweet-footer {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0.75em;
}

.align-center {
  align-items: center;
  display: flex;
}

.avatar-sm {
  height: 60px;
  margin-right: 10px;
  width: 60px;
}
